{% extends 'base.html' %}

{% block content %}
<h1>edit</h1>

<form action="/posts/update/{{post.id}}/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <!-- input 태그와 value에 넣고 textarea는 태그 사이에 넣는다 -->
        <textarea class="form-control" id="content" rows="3" name="content">{{post.content}}</textarea>
    </div>
    <input type="submit" value="작성" class="btn btn-primary">
</form>

{% endblock %}