{% extends 'base.html' %}

{% block content %}
<h1>new</h1>

<form action="/posts/create/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="3" name="content"></textarea>
    </div>
    <input type="submit" value="작성" class="btn btn-primary">
</form>

{% endblock %}